/* ----------- LAYOUT FORSIDE (INDEX.HTML) ----------- */

/* disse koder styrer også layoutet for portfolio.html */
.portfolio {
  padding-left: 10%;
  padding-right: 10%;
}

.portfolio_tekst {
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 100%;
  letter-spacing: 4px;
  padding: 3% 0%;
  text-align: center;
}

.om_mig_container {
  background-image: url(img/Artboard_2.webp);
  background-position: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 1000px;
  padding-left: 10%;
  padding-right: 35%;
  padding-top: 18%;
}

.om_mig_container h1,
p {
  padding-bottom: 15px;
}

.om_mig_container h2 {
  padding-bottom: 5px;
}

@media (min-width: 750px) {
  .om_mig_container {
    background-image: url(img/artboard3.webp);
    background-position: 100%;
    width: auto;
    height: 700px;
  }

  .portfolio_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding-bottom: 30px;
  }

  .container1 {
    grid-column: 1 / span 2;
  }
}

@media (max-width: 750px) {
  .om_mig_container h1 {
    font-size: 1.6rem;
  }
}

/* ----------- LAYOUT OM MIG (OM_MIG.HTML) ----------- */

.potraet_container {
  background-image: url(img/artboard5.webp);
  background-position: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 400px;
  padding-left: 10%;
  padding-right: 35%;
  padding-top: 44%;
}

.om_mig_tekst_container {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 30px;
}

@media (min-width: 615px) and (max-width: 950px) {
  .potraet_container {
    padding-top: 16%;
  }
}

@media (min-width: 950px) {
  .potraet_container {
    background-image: url(img/artboard5.webp);
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 700px;
    padding-left: 20%;
    padding-right: 35%;
    padding-top: 18%;
  }

  .om_mig_tekst_container {
    padding-left: 20%;
    padding-right: 20%;
  }
}

.om_mig_tekst_container h1,
p {
  padding-bottom: 15px;
}

.om_mig_tekst_container h2 {
  padding: 3% 0;
  text-align: center;
}

/* ----------- LAYOUT PORTFOLIO (PORTFOLIO.HTML) ----------- */

/* disse koder styrer layoutet for top billedet på portfolio.html */

.portfolio_container {
  background-image: url(img/portfolio_billede.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 200px;
  padding-left: 10%;
  padding-right: 35%;
  padding-top: 18%;
}

@media (min-width: 550px) {
  .portfolio_container {
    height: 300px;
  }
}

@media (min-width: 850px) {
  .portfolio_container {
    height: 400px;
  }
}

@media (min-width: 1050px) {
  .portfolio_container {
    height: 500px;
  }
}

@media (min-width: 1280px) {
  .portfolio_container {
    height: 700px;
  }
}

/* ----------- LAYOUT PORTFOLIO SIDER (TEMA2.HTML) ----------- */

/* disse koder styrer også layoutet på tema2.html, tema3.html, tema4.html, tema5.html og tema6.html */

.tema2_billede_container {
  background-image: url(img/tema2_baggrund.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 200px;
}

.tema3_billede_container {
  background-image: url(img/tema3_baggrund.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 200px;
}

.tema4_billede_container {
  background-image: url(img/tema4_baggrund.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 200px;
}

.tema5_billede_container {
  background-image: url(img/tema5_baggrund.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 200px;
}

.tema6_billede_container {
  background-image: url(img/tema6_baggrund.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 200px;
}

.tema2_tekst_container,
.tema3_tekst_container,
.tema4_tekst_container,
.tema5_tekst_container,
.tema6_tekst_container {
  padding-left: 10%;
  padding-right: 10%;
}

.tema2_tekst_container h1,
.tema3_tekst_container h1,
.tema4_tekst_container h1,
.tema5_tekst_container h1,
.tema6_tekst_container h1 {
  font-size: 1.2rem;
}

@media (min-width: 750px) {
  .tema2_tekst_container h1,
  .tema3_tekst_container h1,
  .tema4_tekst_container h1,
  .tema5_tekst_container h1,
  .tema6_tekst_container h1 {
    font-size: 1.5rem;
  }
}

.tema2_tekst_container h2,
.tema3_tekst_container h2,
.tema4_tekst_container h2,
.tema5_tekst_container h2,
.tema6_tekst_container h2 {
  padding: 3% 0;
  text-align: center;
}

.tema2_grid,
.tema3_grid,
.tema4_grid,
.tema5_grid,
.tema6_grid {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

.billede_container3_tema3,
.billede_container4_tema3 {
  grid-column: 1 / span 2;
}

.billede_container5_tema4,
.billede_container6_tema4 {
  grid-column: span 2;
}

.billede_container7_tema4,
.billede_container8_tema4,
.billede_container5_tema6,
.billede_container6_tema6 {
  grid-column: span 4;
}

.videocontainer {
  grid-column: span 2;
}

@media (min-width: 550px) {
  .tema2_billede_container {
    background-image: url(img/tema2_baggrund.webp);
    background-position: center;
    width: auto;
    height: 300px;
  }

  .tema3_billede_container {
    background-image: url(img/tema3_baggrund.webp);
    background-position: center;
    width: auto;
    height: 300px;
  }

  .tema4_billede_container {
    background-image: url(img/tema4_baggrund.webp);
    background-position: center;
    width: auto;
    height: 300px;
  }

  .tema5_billede_container {
    background-image: url(img/tema5_baggrund.webp);
    background-position: center;
    width: auto;
    height: 300px;
  }

  .tema6_billede_container {
    background-image: url(img/tema6_baggrund.webp);
    background-position: center;
    width: auto;
    height: 300px;
  }
}

@media (min-width: 750px) {
  .tema2_billede_container {
    background-image: url(img/tema2_baggrund.webp);
    background-position: center;
    width: auto;
    height: 400px;
  }

  .tema3_billede_container {
    background-image: url(img/tema3_baggrund.webp);
    background-position: center;
    width: auto;
    height: 400px;
  }

  .tema4_billede_container {
    background-image: url(img/tema4_baggrund.webp);
    background-position: center;
    width: auto;
    height: 400px;
  }

  .tema5_billede_container {
    background-image: url(img/tema5_baggrund.webp);
    background-position: center;
    width: auto;
    height: 400px;
  }

  .tema6_billede_container {
    background-image: url(img/tema6_baggrund.webp);
    background-position: center;
    width: auto;
    height: 400px;
  }

  .tema2_grid,
  .tema3_grid,
  .tema5_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-left: 20%;
    padding-right: 20%;
  }

  .tema4_grid,
  .tema6_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding-left: 20%;
    padding-right: 20%;
  }

  .tema2_tekst_container,
  .tema3_tekst_container,
  .tema4_tekst_container,
  .tema5_tekst_container,
  .tema6_tekst_container {
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media (min-width: 1150px) {
  .tema2_billede_container {
    background-image: url(img/tema2_baggrund.webp);
    background-position: center;
    width: auto;
    height: 700px;
  }

  .tema3_billede_container {
    background-image: url(img/tema3_baggrund.webp);
    background-position: center;
    width: auto;
    height: 700px;
  }

  .tema4_billede_container {
    background-image: url(img/tema4_baggrund.webp);
    background-position: center;
    width: auto;
    height: 700px;
  }

  .tema5_billede_container {
    background-image: url(img/tema5_baggrund.webp);
    background-position: center;
    width: auto;
    height: 700px;
  }

  .tema6_billede_container {
    background-image: url(img/tema6_baggrund.webp);
    background-position: center;
    width: auto;
    height: 700px;
  }
}
