.potraet_container {
  background-image: url(img/artboard5.psd);
  background-position: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 700px;
  padding-left: 10%;
  padding-right: 35%;
  padding-top: 18%;
}

.om_mig_tekst_container h1,
p {
  padding-bottom: 15px;
}

.om_mig_tekst_container h2 {
  padding: 3% 0;
  text-align: center;
}

.om_mig_tekst_container {
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 30px;
}

.portfolio_knap {
  border: 3px;
  border-style: solid;
  padding: 6px 15px;
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 4px;
  text-align: center;
}

.portfolio_knap:hover {
  color: #f6dfe4;
  transition: 0.2s ease-in-out;
}
