* {
  all: unset;

  display: revert;

  cursor: revert;

  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* header */
nav {
  list-style: none;
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 190%;
  letter-spacing: 4px;
}

ul {
  display: flex;
  justify-content: space-between;
  justify-content: flex-end;
  gap: 40px;
}

header a {
  display: flex;
}

.sektion1 {
  padding-left: 120px;
  padding-right: 120px;
}

/* om mig baggrunds billede*/

.om_mig_container {
  display: grid;
}

.portfolio_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.container1 {
  grid-column: 1 / span 2;
}
